[View in Colaboratory](https://colab.research.google.com/github/ekapolc/exxon_training/blob/master/recommendation_systems/Content_based_guide.ipynb)

# Implementing a Simple Content-based Recommender

In this guideline, you will be guided through implementing a simple content-based recommender system in python. 

In a content-based recommender system, what we care about most is the **content** of the items we are recommending.

Note: You need python 3 and above for this tutorial. You can check your version of python by typing 
'python --version' into your terminal.

(if you are using macOS and have already installed python3, try 'python3 --version' instead, as python2 and python3 can coexist in the same system)

## Installing Packages


---

We've handled the installation of packages in this tutorial on google collab. If you are ever working locally,  do not forget to install these packages by pasting the following code in your terminal. 

-pip3 install pandas

-pip3 install numpy

-pip3 install pythainlp

-pip3 install gensim

-pip3 install corpus

-pip3 install stop_words

## Opening our data files with Pandas. 

---

Please feel free to skip this section if you are already familiar with Pandas. 

Python has a very convenient library for dealing with a large amount of data called **Pandas**.

We have provided several different data files for you to use in the **CSV(comma-separated values)** form. However, instead of comma, we use semicolon as the separator instead to avoid the case of our data containing commas. 

Pandas has a class for working with data called **Dataframe**.

In this section of this guideline, we will explore useful functions of the pandas.dataframe class.

Before we use Dataframe, we will have to import pandas.

In [0]:
import pandas

We will now try to open our .csv data file with pandas' **.read_csv**

You can also obtain basic statistics of the dataframe with **.describe()**

In [0]:
df = pandas.read_csv('https://raw.githubusercontent.com/PanthonImem/Content-Based-Lab-Notebook/master/userLog_201801_201802_for_participants.csv', sep = ';')
df.describe()

         project_id       year         month           day          hour
count  1.234579e+06  1234579.0  1.234579e+06  1.234579e+06  1.234579e+06
mean   6.401208e+03     2018.0  1.427945e+00  1.476546e+01  1.424961e+01
std    2.197497e+03        0.0  4.947810e-01  8.233066e+00  5.774527e+00
min    4.000000e+00     2018.0  1.000000e+00  1.000000e+00  0.000000e+00
25%    4.928000e+03     2018.0  1.000000e+00  8.000000e+00  1.100000e+01
50%    6.446000e+03     2018.0  1.000000e+00  1.500000e+01  1.500000e+01
75%    8.428000e+03     2018.0  2.000000e+00  2.100000e+01  1.900000e+01
max    9.504000e+03     2018.0  2.000000e+00  3.100000e+01  2.300000e+01

**.head(n)** shows the first n rows of the dataframe. 

**.tail(n)** shows the last n rows of the dataframe.

In [0]:
df.head(10)

,userCode,project_id,requestedDevice,userAgent,pageReferrer,year,month,day,hour
0,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0
1,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0
2,cb5b4b68-cc01-6db6-f54b-4a0f881301c5,5067,Mobile,iPhone,HomeWebsite,2018,1,1,0
3,5f74cef2-0d1e-b619-3564-0955a14e0985,6654,Mobile,iPhone,Google,2018,1,1,0
4,dba8f279-844e-eef6-73ac-22bd7d1353cc,6474,Mobile,iPad,Google,2018,1,1,0
5,1bce397f-9edd-6f75-40ea-408a27ddb0e8,6297,Mobile,Android,Other_PageReferer,2018,1,1,0
6,dba8f279-844e-eef6-73ac-22bd7d1353cc,6474,Mobile,iPad,Google,2018,1,1,0
7,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0
8,9794fe34-fb0f-4242-8a35-7610cb1e0ee8,9323,Mobile,iPad,Facebook,2018,1,1,0
9,812246ad-97a8-2a9d-457b-4b5bb521e20c,5764,Mobile,Android,Facebook,2018,1,1,0

**.unique()** gives you an array of all possible values of a column in the dataframe.

In [0]:
df['userAgent'].unique()

array(['Android', 'iPhone', 'iPad', 'Windows', 'Macintosh', 'Other_OS'],
      dtype=object)

Below is how you can modify the dataframe to only have the columns that you desire.

In [0]:
df_b = df[['userCode','project_id']]
df_b.head(30)

                                userCode  project_id
0   7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2        7956
1   7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2        7956
2   cb5b4b68-cc01-6db6-f54b-4a0f881301c5        5067
3   5f74cef2-0d1e-b619-3564-0955a14e0985        6654
4   dba8f279-844e-eef6-73ac-22bd7d1353cc        6474
5   1bce397f-9edd-6f75-40ea-408a27ddb0e8        6297
6   dba8f279-844e-eef6-73ac-22bd7d1353cc        6474
7   7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2        7956
8   9794fe34-fb0f-4242-8a35-7610cb1e0ee8        9323
9   812246ad-97a8-2a9d-457b-4b5bb521e20c        5764
10  9794fe34-fb0f-4242-8a35-7610cb1e0ee8        9323
11  aeda4133-61eb-07fd-a004-ca1fecb0aaa4        7847
12  5badf2de-4bc2-c66b-64fd-13184832dfa0        2560
13  aeda4133-61eb-07fd-a004-ca1fecb0aaa4        7847
14  67134749-f09c-747e-777c-59d7cba5e179        4201
15  a9edf492-d59f-874b-88ab-a729bacef361        3860
16  2ffd9643-61d1-aed9-3dbd-4e0bc502dd97        7564
17  39dba0c3-e628-75ce-2481-56ef8acfd987        4062
18  a601a987-c3a4-b9d7-4c59-e22eb3c64069        7440
19  a2fd4a4c-3b6d-e6f6-7bf4-843ced3f7ea3        7988
20  e02a9121-bf25-99ed-b952-83322aff365c        6427
21  1d7f261c-fb05-1de3-f632-c5cc823bc717        5764
22  d4acc017-cf9d-395e-3684-108e6bd195b0        5764
23  69ae47f2-874c-a4cc-8331-da565a2c3f55        7973
24  cf5ff490-c9d3-8ef3-7d22-42753c3289f9        9257
25  e1317300-cf15-d8d5-427e-5814c3c42253        7973
26  61419a27-ae7f-21a4-65c3-6602f2e51378        6550
27  cf5ff490-c9d3-8ef3-7d22-42753c3289f9        9257
28  91cfe952-7400-623e-9851-096dd8f63b4a        5856
29  c5483446-91f6-cf2d-5ea5-4d698cb0d08f        6251



Below is a list of useful pandas.dataframe attributes.

dataframe**.shape** gives a tuple representing the size of the dataframe in the form (rows, columns)

dataframe**.iloc[row][column]** provides the integer-location based indexing of a dataframe for selection(for index-based, use **loc** instead of **iloc**)

dataframe**.at[row,column]** let you access the value at the specific location 

You can find out more about pandas [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

In [0]:
print(df_b.shape)
print(df_b.iloc[0][1])

#note that we can use the column name instead of integer-indexing too. 
#This is convenient if we ever manipulate our dataframe, which we likely will
print(df_b.iloc[0]['userCode'])

#Note that writing df_copy = df simple creates a reference to the same object.
#If you do not want to modify your dataframe, use df.copy 
df_copy = df_b.copy(deep=True)
df_copy.at[0,'userCode']= 'Dummy Text'
print(df_copy.iloc[0]['userCode'])

#the original dataframe remains the same
print(df_b.iloc[0]['userCode'])

(1234579, 2)
7956
7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2
Dummy Text
7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2

### TO DO #1:  Warming Up (Sorting)
Try sorting the dataframe by

1) userCode

2) userCode but descending

3) userCode as the primary sort axis(ascending), project_id as the secondary sort axis(descending)

Note1: Check the documentation for dataframe .sort_values() [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html#pandas.DataFrame.sort_values).

Note2: You may want to use .reset_index(drop = True) after sorting. Try it out and see what happens.

In [0]:
df_copy = df_b.copy(deep=True)

#manipulate df_copy, not df_b or df

#Insert Your Code Here

There is also a process called **groupby**, which the [documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html) nicely explains with three words: split-apply-combine

Below is one example of how you can use groupby to 
1) split by userCode
2) apply the function 'count'
3) combine the result back together

In [0]:
df_b = df_b.sort_values('userCode')
df_b['num_browse'] = df_b.groupby('userCode').transform('count')
df_b = df_b.reset_index()
df_b.head(20)

     index                              userCode  project_id  num_browse
0   847445  00005aba-5ebc-0821-f5a9-bacca40be125        5342           1
1    66594  0000bae7-6233-d7cc-2a6d-48aa70fe8ad4        5678           1
2   314280  0000c576-e929-19eb-615a-349ec3b4709b        6461           1
3   511353  0000d196-6385-80b8-661d-b7427042daa3        9040           1
4    57898  0000e1e2-f595-0ae7-860f-fcc07dcb116e        6709           2
5    58475  0000e1e2-f595-0ae7-860f-fcc07dcb116e        6712           2
6   533568  0000fa46-1f0b-9504-b568-43479d17620e        8829           6
7   533614  0000fa46-1f0b-9504-b568-43479d17620e        4703           6
8   533715  0000fa46-1f0b-9504-b568-43479d17620e        4703           6
9   533718  0000fa46-1f0b-9504-b568-43479d17620e        8829           6
10  536300  0000fa46-1f0b-9504-b568-43479d17620e        4184           6
11  533689  0000fa46-1f0b-9504-b568-43479d17620e        6577           6
12  750621  00011133-6093-88a6-98b8-de44b88170f3        6425           1
13  320008  00011607-0514-1c6c-9e93-30aca362f7e6        4210           1
14  127248  00015aac-868d-57da-d68a-1ff71b598380        8159           1
15  962969  00019a11-0aaa-2559-4feb-534724830d3e        9095           3
16  945651  00019a11-0aaa-2559-4feb-534724830d3e        5985           3
17  945689  00019a11-0aaa-2559-4feb-534724830d3e        8587           3
18  361796  0001eb13-0dbf-2a19-6a3f-893e17988350        5555           1
19    4083  0001f016-c997-6b0e-b46e-be885262f645        5858           1

## Data Exploration and Preprocessing

---


### TO DO #2: Find Top Viewers

Find out the maximum number of times that a single browsed our log. 

Hint: Utilize num_browse, dataframe.drop_duplicates, and .sort_values()

Answer Check: The top viewer is 'de89bac5-57c6-ecfb-184d-cc4e973c31ac'. If you get this user as the top viewer, your result is correct.

In [0]:
#Insert Your Code Here

                                     userCode  num_browse
1077297  de89bac5-57c6-ecfb-184d-cc4e973c31ac       24308
233976   31bb9bf0-8ad5-3e50-f334-e6c7de89bac5        8238
304068   3f0b3f64-468d-8411-efee-debb3facd532        1641
1152955  eec0a125-d5ab-f692-c501-4713c35c756d        1533
875884   b883abba-dc3e-f30d-a571-98fffeffe88f        1362
210487   2d023fed-0cad-0f48-c7c8-77ce40e36d0f        1261
726185   987779b7-042c-ddea-e43c-5132045fe84e        1138
433255   5a5c8ed0-dee9-beff-0a91-4c65d31e3744         954
652917   894a4600-3006-06c5-bff9-cd37a3618bc1         806
546549   72bd11b1-1880-2468-a691-78a33f0b3f64         790
1102271  e400406a-b73d-3e78-d37d-53fcddebccaf         710
123333   1aecd8e5-f02b-ba5c-e865-49da43ad8f22         636
13001    02e5a154-8e62-a827-db93-bf15c35da2a5         545
620662   8258ff86-189d-a4b9-c9f4-105d495167f2         536
220802   2f3f0973-0fad-4d83-39b6-d55662c9dcbc         472
293933   3d3b8010-60e7-f02b-2ba7-b3e96814cd43         453
385662   504dc86d-0a80-b14c-8c1c-d25a32e4f699         438
1100077  e392c4d3-5eac-770e-3896-53800589d39d         380
1052488  de72fec5-e0c8-2a3c-78ae-eb033b3180b7         338
366243   4c42709a-19f6-056a-b504-1e402dbca126         335

We can see that some users have browsed an absurd number of projects. 

It is up to your discretion as to whether you want to train your model with these users, as some might be bots and do not represent the user behaviour that we are trying to model.

A simple way to screen out users who have viewed too many projects is as follow:

In [0]:
df_b[df_b.num_browse<50].head(20)

                                     userCode  num_browse
447543   5d5558eb-2bd5-ecff-5ba4-f756af3b0c41          49
139078   1e337972-3f0f-8583-3c26-83b3ec3d0a20          49
58951    0cfa6658-0234-ab1d-a919-a89a72a33747          49
1167889  f1bcd2e3-eed6-b5ca-d8e8-b433cf8db704          49
647760   882cbb2a-8c24-4624-74f6-252006893e0f          49
288922   3c48e9b3-daa0-9292-77b9-28f2646c1b74          49
459696   60163bf9-e667-470c-e124-86b9fd7da9f7          49
1117962  e716fb5e-516c-e18d-72a2-b430d80c3097          49
444850   5cafc0f4-afcc-6a91-d84f-0e1e7f023c13          49
109837   17f0dad0-a448-88ba-a8b8-5e3b82374cf7          49
138343   1e0bbfba-dc94-7f64-3ee5-8d059ea6d87f          49
606452   7f8067fe-f1b5-aab2-ded8-7d5319159e40          49
15833    0369c5ff-0bea-ad58-776c-fee3fd58ece1          49
14359    0318c873-531e-e512-2f92-443d5f460cee          49
348897   4883f6f1-4c74-bbb4-a6a9-47d46ef2c463          49
612476   80bdd3be-b3c1-fcb8-d8e9-7dd3049f2151          49
411708   5609b626-9e2a-0f5a-2526-75c0d083aa8e          49
958071   ca65b2df-6990-f57c-3bf5-6eb21d841249          49
437780   5b4d64d4-9554-9e90-b263-44fa4ec1ccaa          49
1087924  e0da6282-ba32-373e-8ea9-bd7ceb16d72a          49

However, this way of screening might not be what we want. A user that browse a project everyday will have browsed ~60 projects by the end of two months, whereas a user who have browsed ~60 projects within a minute will most likely be a bot(or is not paying attention to any of the content of the page, in which the user should be screened out anyway)

### TO DO #3: Write Your Own Data Preprocessing Function
Preprocess your data. Please keep all the original columns, but feel free to add more.

In [0]:
def preprocess(dataframe):
    
    #Insert your code here
    return dataframe

df = pandas.read_csv('https://raw.githubusercontent.com/PanthonImem/Content-Based-Lab-Notebook/master/userLog_201801_201802_for_participants.csv', sep = ';')
df = preprocess(df)

## Splitting Training-Testing Data set
---

In order to evaluate your model, you should not train your model with all the data you have, but rather split a part specifically for testing. Whether you want to split by date or not will depend on your preference.

Below is an example of how you can split your data by date.

In [0]:
import datetime
#this line takes a while, as we'd be processing 1,000,000++ rows
df['date'] = df.apply(lambda row : datetime.datetime(row['year'], row['month'], row['day'], row['hour']).date(), axis=1)
df = df[['userCode', 'project_id','date']]
test_date = datetime.date(2018,2,14)
df_train = df[df.date<test_date]
df_test = df[df.date>=test_date]

df_test.head(15)

df = df_train

## English and Thai Word Extraction
---
While we have a considerable amount of features explicitly stored in our data file, a significant amount of content can be mined from the textual description of each item. Take an example of project number 1698

1698:       30  

From the description, we can find out that the project is 1) a condominium 2) has a swimming pool 3) is near a beach 4) has a balcony 5) comes with furniture

Unfortunately, words from descriptions in Thai are harder to extract since they are not space-separated like english. 

In order to extract these features, we will want to extract each word from the text chunk first.

We will start by using a python library called **pythainlp**.

In [0]:
!pip3 install pythainlp
!pip3 install stop_words
from pythainlp import word_tokenize
from pythainlp.corpus.newthaiword import get_data 
from pythainlp.corpus import alphabet
from pythainlp.corpus import stopwords
from stop_words import get_stop_words
import string

Requirement already satisfied: pythainlp in /usr/local/lib/python3.6/dist-packages (1.6.0.7)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from pythainlp) (2018.5)
Requirement already satisfied: marisa-trie<=0.7.4 in /usr/local/lib/python3.6/dist-packages (from pythainlp) (0.7.4)
Requirement already satisfied: dill in /usr/local/lib/python3.6/dist-packages (from pythainlp) (0.2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pythainlp) (1.11.0)
Requirement already satisfied: nltk>=3.2.2 in /usr/local/lib/python3.6/dist-packages (from pythainlp) (3.2.5)
Requirement already satisfied: future>=0.16.0 in /usr/local/lib/python3.6/dist-packages (from pythainlp) (0.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pythainlp) (2.18.4)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pythainlp) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pythainlp) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pythainlp) (2018.4.16)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pythainlp) (1.22)
Requirement already satisfied: stop_words in /usr/local/lib/python3.6/dist-packages (2015.2.23.1)

Before we split the string into words, we should remove all punctuations first. 
The string of all punctuations can be obtained using string.punctuation

In [0]:
text2 = ", ,     30  "

text = ""
for c in text2:
    if c not in string.punctuation:
        text = text+c
    else:
        text = text+" "
print(text)

        30

Now we will split the text chunk into a list of words using word_tokenize from Pythainlp.

In [0]:
#newmm stands for Maximum Matching algorithm, you can try a different algorithm such as longest matching
tokens = word_tokenize(text, engine='newmm')

print(tokens)

['', '', '', '', '', '  ', '', '', '  ', '', '', ' ', '', '', '', ' ', '', '', '', '', ' ', '', '', '', '', '', '', '', '', '', '', ' ', '30', ' ', '', ' ', '', '', '']

Note that we have a list of thai words now. However, since we will be using these words as features, some words such as '' or '' clearly does not belong here. We call these words **stopwords**. Luckily, pythainlp has a list of stopwords that we can use without having to create one ourselves. Let's have a look at our stopwords.

In [0]:
words = stopwords.words('thai')
print(words)

['\ufeff', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

Just to be safe, you would also want to remove english stopwords.

In [0]:
en_stop = get_stop_words('en')

#Get rid of stopwords. 
stopped_tokens = [i for i in tokens if not i in words and not i in en_stop]
print('This is our text after we remove the stop_words: ')
print(stopped_tokens)

This is our text after we remove the stop_words:
['', '', '', '', '  ', '', '', '  ', '', '', ' ', '', '', ' ', '', '', '', ' ', '', '', '', '', '', '', '', ' ', '30', ' ', '', ' ', '', '']

We can improve this even more with the idea of removing morphology in english. Words like 'cute' and 'cuteness' are more or less about the same meaning. Thus we can reduce it with the porter stemmer library.

In [0]:
from nltk.stem.porter import PorterStemmer
p_stemmer = PorterStemmer()
ls = ['cuteness', 'cute', 'aggressive', 'aggression']
print('Before: ', ls)
stemmed_tokens = [p_stemmer.stem(i) for i in ls]
print('After: ',stemmed_tokens)

Before:  ['cuteness', 'cute', 'aggressive', 'aggression']
After:  ['cute', 'cute', 'aggress', 'aggress']

Notice that we have reduced them to the same word.

In [0]:
stemmed_tokens = [p_stemmer.stem(i) for i in stopped_tokens]
print(stemmed_tokens)

['', '', '', '', '  ', '', '', '  ', '', '', ' ', '', '', ' ', '', '', '', ' ', '', '', '', '', '', '', '', ' ', '30', ' ', '', ' ', '', '']

Next, we will want to remove numbers like '30' out from our data.

In [0]:
single_alpha_num_tokens = [i for i in stemmed_tokens if not i in alphabet.get_data() and not i.isnumeric()]
print(single_alpha_num_tokens)

['', '', '', '', '  ', '', '', '  ', '', '', ' ', '', '', ' ', '', '', '', ' ', '', '', '', '', '', '', '', ' ', ' ', '', ' ', '', '']

As you can see, there still exists meaningless element like '  '. 

Write a python code to get rid of those.

In [0]:
deletelist = [' ','  ','   ', '    ']
tokens = [i for i in single_alpha_num_tokens if not i in deletelist]
print(tokens)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

### TO DO #4: Create Your Own Word Splitting Function

Create your own function for splitting Thai chunk of text into a list of words. 

Your function will take a string as an input, and return a list.

Feel free to use the code above or experiment with different methods. 

Name this function split_word for future use within this notebook.

In [0]:
text = 'BOLD Your Space ......        Extravagant Hotel Lobby       \'\'\'\'   '

def split_word(text2):
    
    #Insert Your Code Here
    
    return tokens

print(split_word(text))

['bold', 'your', 'space', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'extravag', 'hotel', 'lobbi', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

## Latent Dirichlet Allocation!
---
While we could use each and every of these words as a project feature, consider that there exists way too many words, maybe 100,000 or more words, in total in our ~5,000 projects. Too many features would also mean that it is too computationally expensive. 

Instead, we will use Latent-Dirichlet Allocation(LDA) to find the topic probability and use those instead of using each word as a feature.

We will start by importing a python library called **gensim**.

Note that in order to save time(since LDA takes a while to train), we will only train the model with the first 3000 project descriptions in this tutorial. You should use project descriptions from the entire data file to train the model. 

The model takes an input of a term dictionary and a document-term matrix. We have handled the dictionary and corpus preparation for you, but you can find out about it more [here](https://radimrehurek.com/gensim/models/ldamodel.html).

We have also fixed the random state. In reality, you might want to remove this and train the model a couple of times and see which result you like the most.

In [0]:
!pip3 install gensim
!pip3 install corpus
import gensim
from gensim import corpora, models

Requirement already satisfied: gensim in /usr/local/lib/python3.6/dist-packages (3.5.0)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.11.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.14.5)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.6.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from gensim) (0.19.1)
Requirement already satisfied: boto>=2.32 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (2.49.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (2.18.4)
Requirement already satisfied: bz2file in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (0.98)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (1.7.57)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (2018.4.16)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (1.22)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (3.0.4)
Requirement already satisfied: s3transfer<0.2.0,>=0.1.10 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (0.1.13)
Requirement already satisfied: botocore<1.11.0,>=1.10.57 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (1.10.57)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (0.9.3)
Requirement already satisfied: docutils>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.11.0,>=1.10.57->boto3->smart-open>=1.2.1->gensim) (0.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /usr/local/lib/python3.6/dist-packages (from botocore<1.11.0,>=1.10.57->boto3->smart-open>=1.2.1->gensim) (2.5.3)
Requirement already satisfied: corpus in /usr/local/lib/python3.6/dist-packages (0.4.2)

In [0]:
inpt_list = []

#This is obtaining the project description of the first 1000 projects
proj_df = pandas.read_csv('https://raw.githubusercontent.com/PanthonImem/Content-Based-Lab-Notebook/master/project_description.csv', sep = ';').fillna('None')
proj_df = proj_df.sort_values('project_id')
proj_df = proj_df[proj_df.project_id<3000]
proj_df = proj_df.reset_index(drop = True)
for i in range(proj_df.shape[0]):
    inpt_list.append(split_word(proj_df.iloc[i]['description_th']))

#We will turn this into a term dictionary for our model

# turn our tokenized documents into a id <-> term dictionary
dictionary = corpora.Dictionary(inpt_list)
dict2 = {dictionary[ID]:ID for ID in dictionary.keys()  }

# convert tokenized documents into a document-term matrix
corpus = [dictionary.doc2bow(text) for text in inpt_list]

We will now train the LDA model. 

Note that the top words for each topic might not make much sense to you, but they are the underlying structure(hence the name 'Latent' in Latent Dirichlet Allocation), you can retrain the model if you are unsure. 

Also, note that the topics will be different on every execution, so if you obtain a desirable result, load the model from the saved file instead of retraining.

In [0]:
# generate LDA model
num_top = 8
num_words = 8
num_it = 50
ldamodel = gensim.models.ldamodel.LdaModel(corpus,num_top, id2word = dictionary, random_state = 2, passes=num_it)
ldamodel.show_topics(num_top, num_words, log=True, formatted=False)

#ldamodel.save('HDTwork/lda' + str(num_top) + '_Topics_' + str(num_it) + '_Passes.model')

[(0,
  [('', 0.017890211),
   ('', 0.013937739),
   ('n', 0.010907112),
   ('', 0.010448513),
   ('', 0.007971386),
   ('', 0.007641118),
   ('', 0.0074599786),
   ('', 0.007253299)]),
 (1,
  [('', 0.049044136),
   ('', 0.04669608),
   ('', 0.04065418),
   ('', 0.03313869),
   ('', 0.031437453),
   ('', 0.020785395),
   ('', 0.019199815),
   ('', 0.012328168)]),
 (2,
  [('', 0.020443456),
   ('', 0.014535136),
   ('', 0.011951573),
   ('', 0.011647448),
   ('n', 0.011393745),
   ('', 0.011099728),
   ('', 0.009578494),
   ('', 0.009307983)]),
 (3,
  [('', 0.023896594),
   ('', 0.022971153),
   ('', 0.022267966),
   ('', 0.017102845),
   ('', 0.014412835),
   ('', 0.012076355),
   ('', 0.011703157),
   ('', 0.011432385)]),
 (4,
  [('', 0.032400567),
   ('', 0.023777794),
   ('', 0.016938018),
   ('', 0.016738674),
   ('', 0.016211528),
   ('', 0.015753675),
   ('', 0.014918974),
   ('', 0.01269425)]),
 (5,
  [('', 0.014880343),
   ('', 0.008109441),
   ('', 0.0075309863),
   ('', 0.007317664),
   ('', 0.007300509),
   ('', 0.006918861),
   ('', 0.006420972),
   ('', 0.006236215)]),
 (6,
  [('', 0.023540957),
   ('', 0.022355251),
   ('', 0.017456815),
   ('', 0.013748248),
   ('', 0.013152798),
   ('', 0.012355949),
   ('', 0.010814492),
   ('', 0.010560757)]),
 (7,
  [('', 0.018624973),
   ('', 0.016665421),
   ('', 0.012601702),
   ('', 0.012047219),
   ('', 0.010307258),
   ('', 0.0100218905),
   ('', 0.009569052),
   ('', 0.008564901)])]

We can see that the LDA model nicely generated a topic probability profile for us. 

We will now try to get a probability from a text.

In [0]:
#ldamodel = models.LdaModel.load('HDTwork/lda' + str(num_top) + '_Topics_' + str(num_it) + '_Passes.model')
def print_topic(text):
    list = split_word(text)
    bow = dictionary.doc2bow(list)
    temp = ldamodel.get_document_topics(bow,minimum_probability=0.1, minimum_phi_value=None,per_word_topics=False)
    print(text)
    print(temp)
    print('-------------------------------------')
text = [0]*4
text[0] = '       15        '
text[1] = ' 16   2    448 + 3  '
text[2] = '    '
text[3] = '   '

for i in range(4):
    print_topic(text[i])

       15
[(4, 0.24236691), (7, 0.64153814)]
-------------------------------------
 16   2    448 + 3
[(1, 0.8459821), (6, 0.10041111)]
-------------------------------------

[(4, 0.8107192)]
-------------------------------------

[(0, 0.6729826), (4, 0.25193408)]
-------------------------------------

We can use the values that the LDA gave us as the features of the project. 

Note that the LDA gave us probabilities, not just what topic the project most likely fall under, thus we can see that our text is a little bit of other topics as well.

## User Profile

---



Now that we can create a LDA topic profile for every projects, we will want to find a way to capture the interest of our user. 

One simple way is to average the user profile, which is what we will do in this exercise.  

Suppose that user '0003d990-37d2-140c-a68e-060bc1e81ea5' has browsed 3 projects in 5 browsing:

In [0]:
df = pandas.read_csv('https://raw.githubusercontent.com/PanthonImem/Content-Based-Lab-Notebook/master/userLog_201801_201802_for_participants.csv', sep = ';')

#Only keep the part where our userCode is the desire user
df = df[df.userCode == '0003d990-37d2-140c-a68e-060bc1e81ea5']

#Get rid of the unnecessary columns
df = df[['userCode','project_id']]
df = df.reset_index(drop = True)
print(df)

#note that we use 0.0 instead of 0 to indicate that this field should store value of the type float, not int.
topic_col = []
for i in range(num_top):
    df['Topic '+str(i)] = 0.0
    topic_col.append('Topic '+str(i))

                               userCode  project_id
0  0003d990-37d2-140c-a68e-060bc1e81ea5        9334
1  0003d990-37d2-140c-a68e-060bc1e81ea5        8742
2  0003d990-37d2-140c-a68e-060bc1e81ea5        8742
3  0003d990-37d2-140c-a68e-060bc1e81ea5        9334
4  0003d990-37d2-140c-a68e-060bc1e81ea5        8631

### TO DO #5:
1) Open the project description file down below. The file name is project_description.csv 

Note that there exist empty descriptions for some of the projects. Use .fillna(' ') to fill NaN with something else.

In [0]:
#Insert Your Code Here

    project_id                                     description_th
0            4  -  ...
1           24  Balance Your Life ...
2           29                                               None
3           41    Modren Contemporary ...
4           44     ...
5           45     ...
6           73   Thai Contemporary ...
7           95  ...
8          115   ...
9          133   ...
10         141  ...
11         156
12         157   ...
13         161   ...
14         189   - 2  ...
15         192   ...
16         206  Balance your Life ...
17         208                                               None
18         219   ...
19         223    ...

2) Obtain the project description for the six projects that the user have browsed.
Preferably store them in a list for future reusability.

In [0]:
textList = []

#Insert your code here, get all the Project descriptions that the user have browsed into textList

3) Obtain the topic probability for each of the project. 
Hint: Review how to use get_document_topics in the LDA part of this tutorial

In [0]:
for i, text in enumerate(textList):
    #Insert your code here
   
  
  
    for j in range(len(topic_prob)):
        df.at[i, 'Topic '+str(topic_prob[j][0])] = topic_prob[j][1]
df.head()

,userCode,project_id,Topic 0,Topic 1,Topic 2,Topic 3,Topic 4,Topic 5,Topic 6,Topic 7
0,0003d990-37d2-140c-a68e-060bc1e81ea5,9334,0.055730,0.0,0.000000,0.118378,0.056521,0.0,0.0,0.756196
1,0003d990-37d2-140c-a68e-060bc1e81ea5,8742,0.000000,0.0,0.244907,0.000000,0.000000,0.0,0.0,0.717549
2,0003d990-37d2-140c-a68e-060bc1e81ea5,8742,0.000000,0.0,0.244910,0.000000,0.000000,0.0,0.0,0.717546
3,0003d990-37d2-140c-a68e-060bc1e81ea5,9334,0.055757,0.0,0.000000,0.118372,0.056520,0.0,0.0,0.756175
4,0003d990-37d2-140c-a68e-060bc1e81ea5,8631,0.000000,0.0,0.272016,0.000000,0.228988,0.0,0.0,0.482539

We will then find the user's interest by simple averaging.

Note that this is for simplicity. You should try weighted average or other methods that you think captures the interest of the user well.

In [0]:
df = df.groupby('userCode')[topic_col].agg('mean')
print(df)

#obtain the user vector list from the dataframe
user_vector = df.iloc[[0]].values.tolist().pop(0)

                                       Topic 0  Topic 1   Topic 2  Topic 3  \
userCode
0003d990-37d2-140c-a68e-060bc1e81ea5  0.022297      0.0  0.152367  0.04735

                                       Topic 4  Topic 5  Topic 6   Topic 7
userCode
0003d990-37d2-140c-a68e-060bc1e81ea5  0.068406      0.0      0.0  0.686001

## Cosine Similarity


---

Suppose we have two vectors. We want to know how close these two vectors are.

One simple way is to find the angle between the two vector. 

If the two vectors point in the same direction, then they are similar. 

Since cosine of the angle between the angle will be close to one if the vectors align and zero if the vectors are perpendicular. 

Recall from mathematics that for two vector U and V, 

$ U\dot V = |U||V|cos(\theta) $
        
 $cos(\theta) = \frac{U\dot V }{|U||V|}$
 
 We call  $cos(\theta)$ the cosine similarity
  
 ### TO DO #6
 
 1) Write a function for finding cosine similarity. 
 
 Name it cosine_sim(a, b) (a and b are of type list of any length)
 
 We have a few testing examples for you to try out.

In [0]:
import math

def cosine_sim( list1, list2):
    
    #Insert Your Code Here
    
    return sim

In [0]:
a = [1,1]
b = [0.5,0.5]
if(cosine_sim(a,b) == 1.0):
    print('Test 1 Passed')
else:
    print('Test 1 Failed')
a = [1,2,3]
b = [2,1,3]
if(cosine_sim(a,b) == 0.9285714285714286):
    print('Test 2 Passed')
else:
    print('Test 2 Failed')
a = [1,0,1]
b = [0,1,0]
if(cosine_sim(a,b) == 0.0):
    print('Test 3 Passed')
else:
    print('Test 3 Failed')

Test 1 Passed
Test 2 Passed
Test 3 Passed

Now we will compare the projects with cosine similarity to recommend a project based on the cosine similarity of LDA topics.

In [0]:
#obtain ~50 projects for testing
proj_df = pandas.read_csv('https://raw.githubusercontent.com/PanthonImem/Content-Based-Lab-Notebook/master/project_description.csv', sep = ';').fillna('None')
proj_df = proj_df.sort_values('project_id')
proj_df = proj_df[proj_df.project_id>9300]
proj_df = proj_df[proj_df.project_id<9350]
proj_df = proj_df.reset_index(drop = True)

#Create a column for each of our topic
for i in range(num_top):
    proj_df['Topic '+str(i)] = 0.0

#Get all projects in our testing set
browseList = []
for i in range(proj_df.shape[0]):
    browseList.append(proj_df.iloc[i]['project_id'])

#get all the project description from project in our testing set
textList = []
proj_df = proj_df.set_index('project_id')
for i, proj in enumerate(browseList):
    textList.append(proj_df.loc[proj]['description_th'])
    
#get the LDA topic distribution for all of our testing projects
for i, text in enumerate(textList):
    list = split_word(text)
    bow = dictionary.doc2bow(list)
    topic_prob = ldamodel.get_document_topics(bow,minimum_probability=None, minimum_phi_value=None,per_word_topics=False)
    for j in range(len(topic_prob)):
        proj_df.at[browseList[i], 'Topic '+str(topic_prob[j][0])] = topic_prob[j][1]

#compute the cosine similarity
dist_list = [0.0]*len(browseList)
for i, proj in enumerate(browseList):
    item_vector = proj_df.loc[[proj]].values.tolist().pop(0)
    item_vector.pop(0)
    dist_list[i] += cosine_sim(user_vector, item_vector)
    
def argmax(list):
        max = -1*float("inf")
        ind = 0
        for i in range(0, len(list)):
            if list[i] > max:
                ind = i
                max = list[i]
        return ind
    
print('Below is our Top 5 Recommendations and their cosine similarity to our user profile')
for i in range(0,5):
    recom = argmax(dist_list)
    print(browseList[recom], dist_list[recom])
    dist_list[recom] = 0.0

Below is our Top 5 Recommendations and their cosine similarity to our user profile
9334 0.9718599828503817
9335 0.9680030905353205
9349 0.9589027928928925
9333 0.8845076340508135
9306 0.8804714782852602

Our code above shows the top 5 recommendations from ~50 projects with cosine similarity.

You should see 9334 as one of our top recommended projects. 

This is because the user really did browse project 9334 (and in fact, twice) so our user profile which is derived from the browsing history should reflect this.

In reality, we want the next best project that the user has not yet browsed. So, we will screen 9334 out from our recommendation. 

**Keep in mind that this result is purely from LDA. In reality, many more possible features(such as location, starting price) can be extracted from other data file.**

## -- End of Tutorial --

---